body{
  background-color: white;
}

h3{
  padding-top: 1%;
  font-family: trajan-pro-3, serif;
  font-style: normal;
}


.loginBox{
    margin-top: 25vh;
    margin-left: 20vw;
    border : solid 1px;
    display : inline-block;
    padding: 2em 1em;
    border-radius: 5%;
  box-shadow: 10px 10px 5px 0px silver;
}

.user{
box-sizing: border-box;
display: block;
text-align: center;
}

.btnModif{
  color: white !important;
  background-color:  rgb(9, 41, 59) !important;
  float: right;
}
.formUser{
  width:90%;
  margin: auto;
}


.listeUser{
  margin-top: 15vh;
 
}
/*STYLE BTN A APPLIQUER*/
.btnGeneralDark, .btnGeneralBlanc:hover{
  color: white !important;
  background-color:  rgb(9, 41, 59) !important;
  text-transform: capitalize !important;
}
.btnGeneralBlanc, .btnGeneralDark:hover{
  background-color: white !important;
  color :  rgb(9, 41, 59) !important;
  border: 1px solid  rgb(9, 41, 59) !important;
 text-transform: capitalize !important;
}



/*RESERVATIONS*/
.formReservation{
  margin:  2em;
}

/* liste des reservations */
.ligneTabRes:hover{
  cursor: pointer;
  user-select: none;
 
}
.thReservationFont{
font-weight: bold;
font-size: 1rem;
}
.reservationIcon:hover{
color: rgb(175, 25, 5);
border-radius: 25px;

}

/*Boutons de modification/suppression pour les icones*/
.btnPlus{
  float: right;
  color: white !important;
  background-color:rgb(11, 47, 77) !important;
}
.btnEdit, .btnDelt{
  border: 1px solid rgba(212, 212, 248, 0.733);
  background-color: transparent;
   border-radius: 5px;

}
.btnEdit:hover{
  background-color: rgb(212, 212, 248);
 
}
.btnDelt:hover{
  background-color: rgb(252, 230, 184);
}

.scrollbar {
  height: 550px;
  background: #fff;
  overflow-y: scroll;
   }
