/* Ici hauteur des deux composants login et image*/
.hauteurConteneur{
  min-height: 100vh;
}

.TitreLogin {
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(9, 41, 59);
  text-align: center;
  font-size: 35px;
  text-shadow: 2px 1px 1px rgba(99, 104, 116, 0.856);
  }

  .groupe-login{
padding-top: 4%;
text-align: left;
  }

  .labelLogin{
    font-family: trajan-pro-3, serif;
    font-style: normal;
    font-size: 1.5rem;
    height: auto;
    color: rgba(9, 41, 59, 0.685);
    margin-left: 4%;
  }

  #btnLogin{
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: rgb(9, 41, 59);
  color: white;
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-weight: 600;
  border: 1px solid rgb(9, 41, 59);;
  margin-top: 2%;
  }

  #btnLogin:hover{
    background-color:white;
    color:  rgb(9, 41, 59);
    border: 1px solid rgb(9, 41, 59);
  
  }

  #inputPassword, #login{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
  }

  #inputPassword:focus, #login:focus{
    border-color: rgba(13, 18, 75, 0.8);
     border-left: none;
    border-right: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 5px 8px rgba(39, 94, 146, 0.6);
    outline: 0 none;

  }
  #inputPassword::placeholder , #login::placeholder {
    color:rgba(13, 18, 75, 0.37);
  }
  

  .bg-image{
    background-image: url('../img/s-o-c-i-a-l-c-u-t-1RT4txDDAbM-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  .bg-image2{
    background-image: url('../img/sebastian-bednarek-i1M1nQD2l5w-unsplash.jpg');
    background-size: cover;
    background-position: center;
  }
  .tst{
    height: 100vh;
    flex-wrap: wrap;
  }

  .cadenas, .userIcone {
padding-top: 3%;
padding-right: 2%;
}

.errorLog{
  margin-top: 3%;
}