.btnValiderDetails {
    background-color: #343A40 !important;
    border: none !important;
   color: white!important;
   font-weight: bold !important;
   text-transform: capitalize !important;
   font-size: 1.2em !important;
   align-content: center !important;}

   .scrollbarDetails {
    margin-left: 30px;
    float: left;
    height: 550px;
    width: 250px;
    background: #fff;
    overflow-y: scroll;
    
     }

     .scrollbar-primary {
        scrollbar-color: #343A40 #f5f5f5;
      }
      .scrollbar-primary::-webkit-scrollbar {
      width: 12px;
      background-color: #F5F5F5; }
      
      .scrollbar-primary::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
      background-color: #343A40; }