.card-img-top {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  
  .listeSalle{
  width: 55vw;
  margin: auto;
  }
  .card-title{
    font-family: trajan-pro-3, serif;
    font-style: normal;
  }
  .cardSalleList{
    margin-bottom: 2vh;

  }
  .btnListS:hover{
    color: white !important;
    background-color:  rgb(9, 41, 59) !important;
  }
  .btnListS{
    color: rgb(9, 41, 59) !important;
    background-color: white !important;
  }
  
  